.login-background{
  font-family: 'Montserrat', sans-serif;
  background: #485563;
  background: -webkit-linear-gradient(to bottom, #29323c, #485563);
  background: linear-gradient(to bottom, #29323c, #485563);

}

.head-navbar{
  font-size: 1.0rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  white-space: nowrap;
  color: #FFFFFF;
}

.elements-navbar{
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  white-space: nowrap;
}

.dashboard-font{
  font-family: 'Montserrat', sans-serif;
}

.b-text-size{
  font-size: 0.6rem;
}

.line-separator{
  border: 1px solid #5c5e5d;
  width: 50%;
}
