.login-background{
  font-family: 'Montserrat', sans-serif;
  background: #56CCF2;
  background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
}