.landingimage{
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/landingpic');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #cc55cc;

}
.layer{
  background-color: rgba(12,12,12, 0.6);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Text{
  color: white;
  width: 100%;
  font-family: "Segoe UI ",sans-serif;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 300px;
  font-weight: 200;

}
.SplashText{
  text-align: center;

}
.h1landingimage{
  font-family: "Segoe UI ", sans-serif;
  color: white;
  font-size: 5rem;
  font-weight: 200;
}

.h1landingbutton{
  font-family: "Segoe UI ", sans-serif;
  color: dodgerblue;
  font-size: 5rem;
  font-weight: 200;
}

.landingbutton{
  font-family: "Segoe UI ",sans-serif;

}

.button-div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 7em;

}

.button-upis{
  border-color: dodgerblue dodgerblue;
  background: dodgerblue;
  color: white;
  opacity: 0.7;
  border-radius: 10px;
}

.button-upis:hover{
  opacity: 1;

}